@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url("iconfont.ttf?t=1702349801608") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 2px;
}

.icon-fanhui:before {
  content: "\e651";
}

.icon-chakan:before {
  content: "\e602";
}
